@font-face{
font-family: ubuntuRegular;
src: url('../ttf/Ubuntu-R.ttf') format('truetype');
}

@font-face{
font-family: ubuntuBold;
src: url('../ttf/Ubuntu-B.ttf') format('truetype');
}

@font-face{
font-family: ubuntuBoldItalic;
src: url('../ttf/Ubuntu-BI.ttf') format('truetype');
}

@font-face{
font-family: ubuntuItalic;
src: url('../ttf/Ubuntu-I.ttf') format('truetype');
}

@font-face{
font-family: Great Vibes;
src: url('../ttf/GreatVibes-Regular.ttf') format('truetype');
}


/*Animación barra errores*/ 
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

* {
	margin: 0px;
	padding: 0px;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
}	

body {
	font-size: 100%;		
	font-family: ubuntuRegular;
	margin: 0 auto;
}

.menuDia hr {
	margin: 1em auto;
	width: 80%;

}

h1 {
	font-size: 2.5em;	
	text-align: center;
	font-family: Great Vibes, ubuntuRegular;		
}

.header h1 {
	color: white;
}

h2 {
	font-size: 2em;
	font-family: Great Vibes, ubuntuRegular;
}

h3 {
	font-size: 1.17em;
	margin-left: 10px;
}

h4 {
	 font-size: 1em;
	 margin-bottom: 1em;
}

h5 {
	font-size: .83em;
}

h6 {
	font-size: .67em;
}

nav {
	margin-bottom: 1em;
}

nav li {
	display: inline;
	/*margin-right: 5px;*/
}

p{	
	text-align: justify;	
	margin-bottom: 1em;
}

nav a {
	text-decoration: none;
}

label{
	display: inline-block;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 0.5em;
	font-family: Arial;
	width: 150px;
	text-align: right;
}

footer p{
	text-align: center;
	margin: 0em;	
}

footer {
	background-color: darkslategray;
	padding: 1em;
	clear: both;
	min-height: 10em;
}

.error {
	color: red;
}

main {
	min-height: 40em;	
}

header {
	height: 7em;
}

#datos {
	margin-top: 1em;
	margin-bottom: 1em;
	background: lightgray;
}

input[type="button"], [type="text"], [type="number"], [type="submit"] {
	padding: 0.4em;
}

pre {
	margin-top: 2em;	
}

table {
	margin-top: 2em;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

input[type=number] {
	-moz-appearance: textfield;
}

input[type=number].numberQty {
	appearance: initial;
	vertical-align: middle;
	width: 4em;
}

select {
	padding: 0.5em;
}

.menuDia {
	background: #e9ebf3;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	/*border: 1px solid black;*/
	padding: 1em;
	box-shadow: 0px 1.5em 1.5em gray;
}

.menuDia img {
	width: 4em;
}

section {
	float: left;
}

aside {
	display: inline-block;
}

.adminMenus {
	width: 27em;
	padding: 1em;
}

.mainLogo {
	width: 6em;
}

.w-45 {
	width: 45%;
}

section img {
	width: 18em;
	padding-bottom: .1em;
}

.inputFile {
	width: inherit;		
}

.nav-link {
	border: 0.1em solid white;
}

.nav-link:hover {
	background-color: gray;
	color: white;
	border: 0.1em solid darkgray;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
}

.navbar-nav .nav-link.active {
	background-color: gray;
	color: white;
	border: 0.1em solid darkgray;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	-ms-border-radius: 0.3em;
	-o-border-radius: 0.3em;
}

.showMenuCategories {
	margin-bottom: -1em;
}

.captcha h2 {
	font-family: ubuntuRegular;
}

del {
	text-decoration: line-through;
}

/*.alert-success {	
	animation-name: fadeOut;
	animation-duration: 3s;
	animation-delay: 4s;
	animation-fill-mode: forwards;
}

.alert-warning {	
	animation-name: fadeOut;
	animation-duration: 3s;
	animation-delay: 4s;
	animation-fill-mode: forwards;
}

.alert-danger {	
	animation-name: fadeOut;
	animation-duration: 3s;
	animation-delay: 4s;
	animation-fill-mode: forwards;
}*/


/***************** Configuración para móviles **********************/
@media (max-width:480px) {
	.mainLogo {
		width: 4em;
	}

	section img {
		width: 9em;
	}

	.menuDia img {
		width: 3em;
	}

	.options {
		width: 10em;
		display: block;
	}
	
	.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
		background-color: inherit;
		border: inherit;
		color: var(--bs-navbar-active-color);
	}
}

/************************************************************************
*			iphone 6/7/8 horizontal														*
************************************************************************/
@media (min-width:481px) and (max-width: 668px) {	

}

/************************************************************************
*			Configuración para tablets portrait (retrato)						*
************************************************************************/
@media (min-width:481px) and (max-width: 768px) {
	.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
		background-color: inherit;
		border: inherit;
		color: var(--bs-navbar-active-color);
	}	
}

/***************************************************************
*		Configuración para tablets landscape (horizontal)	   *
***************************************************************/
@media (min-width: 769px) and (max-width: 1050px) {
	.menuDia {
		width: 50%;
		margin: 0 auto;
		display: flow-root;
	}

	.options {
		width: 10em;		
	}

	.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
		background-color: inherit;
		border: inherit;
		color: var(--bs-navbar-active-color);
	}
}

/***************************************************************
*			 Configuración para KINDLE FIRE					   *
***************************************************************/
@media (min-width: 1051px) and (max-width: 1280px) {
	.adminMenus {
		width: 20em;		
	}	
}

